doctype
html(lang='de')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(property="og:title" content="De - Ko Übersetzer")
    meta(property="og:description" content="Mobiltelefon nicht verfügbar, Chrom Browser erforderlich")
    meta(property="og:image" content="/static/images/home.png")
    script(src="https://kit.fontawesome.com/03953410b5.js" crossorigin="anonymous")
    title 사용법
    link(rel='stylesheet', type='text/css', href=`/static/styles/How.css`)
  body#body
    header#header
      div#pagechange
        a(href="/")
          i(class="fas fa-home fa-2x" id="backtohome")
    div#Document 
      h1#superTitle 세팅
      div#caution
      h4(style={color: "red"}) 
        i(class="fas fa-exclamation-triangle")
          |   주의사항
          p
          | 현재 이 사이트는 크롬, 사파리, 엣지, 브래이브 브라우저에서만 
          | 쓰실 수 있습니다.                
      h2 컴퓨터 마이크 세팅 
      div.description
        img(src="/static/images/mic setting.gif")
        p.description_script
          | 우선 당신의 컴퓨터 마이크가 잘 들어가는 지 확인해주세요. 정상이라면 위의 사진처럼 볼륨이 말할 때마다 
          | 움직여야합니다. 3만원 짜리 핀마이크를 사서 노트북이랑 연결하면 최고입니다. 그냥 노트북으로 하는 것보다 훨~~씬 인식을 잘합니다. 
      h2 컴퓨터 마이크 볼륨세팅 
      div.description
        img(src="/static/images/mic vol setting.gif")
        p.description_script
          | 위처럼 안 뜬다? 그럼 마이크가 꺼져 있거나 볼륨이 너무 작은겁니다. 본인이 쓰는 마이크를 더블클릭해서 설정에 들어간 후 옆에 사진처럼 볼륨을 이빠이 올려줍시다.
      h2 사이트 마이크 세팅
      div.description
        img#web(src="/static/images/web mic setting.gif")
        p.description_script
          | 사이트를 맨 처음 들어가면 마이크 권한을 요구하는 데 허락해주세요. 거절을 누르셨다구요? 그러면 크롬 설정가서 다시 권한을 줘야합니다. 권한을 주셨으면 왼쪽 사진처럼 본인이 현재 쓰는 마이크를 설정해주세요. 그럼 인식이 될겁니다. 
      div(style="text-align:center;")
        h2 에러 대처 방안
        p 1. 혹시 현재 마이크를 쓰는 탭이 두개입니까? 탭을 하나만 납두고 새로고침을 해보세요. 한 5번쯤 눌러보세요 
        p 2. 그래도 안되면 크롬을 껐다가 다시 사이트에 접속하세요. 
        p 3. 그래도 안되면 아래 이메일로 오류내용을 알려주세요. 
        p dntjrdl@knou.ac.kr 

      a#usageLink(href="/Usage")
        div#Usage
          div
            p(style="font-size: 30px") 이걸 어케 써먹는지 보러가기
          div(style="margin-left: 20px")
            i(class="fas fa-angle-double-right fa-3x" style="color: gray")
          
    div#footer 양우석이 만듬.
      img#face(src="/static/images/face.png")
  

