doctype html
html(lang='ko')
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title 번역기
    link(rel='stylesheet', type='text/css', href=`/static/styles/style.css`)
    script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8947258936212466"
     crossorigin="anonymous")
  body#body
    div#contents(data-id=process.env.API_KEY) 
        div#available 사용가능성 체크중
        div#korean 한국어
        div#script 말을 기다리고 있습니다.
        div#german 독일어
        div#translated 번역된 말입니다

    div#footer @양우석이 만들었습니다.
  script(src=`/static/scripts/script.js` type="text/javascript")  
  