doctype html
html(lang='ko')
  head
    //- 메타데이터
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(property="og:title" content="한독 자동 통역 사이트")
    meta(property="og:description" content="모바일 사용가능, 크롬브라우저 추천")
    meta(property="og:image" content="/static/images/home.png")
    meta(property="og:url" content="https://was-sagst-du.herokuapp.com/")
    meta(name="naver-site-verification" content="f061e618ca1c663bdea477fecc2c8286a9a1e81c") 
    meta(name="description" content="Sie koennen Koreanisch sagen!")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title 한독 자동 통역기
    //- css파일
    link(rel='stylesheet', type='text/css', href=`/static/styles/style.css`)
    //- 파비콘
    link(rel="shortcut icon" href="https://murakanoimma.herokuapp.com/static/images/favicon.png")
    //- 구글 애드센스
    script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8947258936212466"
     crossorigin="anonymous")
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-MT1PKDPL7J")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-MT1PKDPL7J');
    script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8947258936212466"
     crossorigin="anonymous")
  body#body
    header#header 
      div#leftheader
        a(href="https://was-sagst-du.herokuapp.com/")
          img#ko(src="/static/images/korea.png")
          img#exchange(src="/static/images/exchange.png")
          img#de(src="/static/images/germany.png")
      div
        div#rightheader 
          BIG 가이드❕
          a(href="/Howto") 
            img#Howto(src="/static/images/guide.png")
    div#contents
      div#available 사용가능성 체크중/ 계속 체크 중이면 오른쪽 위의 가이드를 읽어보세요
      div#korean 한국어
      div#script 말을 기다리고 있습니다.
      div#german 독일어
      div#translated 번역된 말입니다

    div#footer 양우석이 만듬.
      img#face(src="/static/images/face.png")
    
  ins(class="kakao_ad_area" style="display:none;" data-ad-unit="DAN-QOKeDQTRhxYo68tc" data-ad-width = "320" data-ad-height  = "100" )
  script(type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async)
  script(src="/socket.io/socket.io.js")
  script(src=`/static/scripts/script.js` type="text/javascript")  
  