doctype
html(lang='de')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(property="og:title" content="한독 자동 통역 사이트")
    meta(property="og:description" content="모바일 사용가능, 크롬브라우저 추천")
    meta(property="og:image" content="/static/images/home.png")
    //- 반응형 설정
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
     //- 파비콘
    link(rel="shortcut icon" href="https://murakanoimma.herokuapp.com/static/images/favicon.png")
    //- 구글 애드센스
    script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8947258936212466"
     crossorigin="anonymous")
    script(src="https://kit.fontawesome.com/03953410b5.js" crossorigin="anonymous")
    title 사용법
    link(rel='stylesheet', type='text/css', href=`/static/styles/usage.css`)
  body#body
    header#header
      div#pagechange
        a(href="/")
          i(class="fas fa-home fa-2x" id="backtohome")
    div#Document 
      h1#superTitle 활용법
      div#caution
      h4
        i(class="fas fa-info-circle")
          |   그래서 어떤 경우에 씀?                
      h2 1. 독일인과 회의및 대화할 때 
      div.description
        img(src="/static/images/present.jpg")
        p.description_script
          | 본인이 말할 때 옆에 이 사이트를 켜두셈. 그러면 자동으로 번역되서 독일인이 알아들을 수 있겠죠?
          | 독일어를 못해서 상대방 말을 못알아들으시면 언어 바꾸셔서 상대방 옆에도 켜두세요.
      h2 2. 독일어를 공부할 때
      div.description
        img(src="/static/images/study.png")
        p.description_script
          | 독일어를 공부하시나요? 그러시다면 이 사이트를 통해서 훨씬 편하게 자신이 원하는 문장을 적고 연습해보세요.
      h2 3. 나의 발음을 확인 할 때
      div.description
        img(src="/static/images/speak-mouth.jpg")
        p.description_script
          | 지금 이 사이트는 설정상 발음 인식률을 최대로 높여 놓은 상태입니다. 그런데도 당신의 한국어나 독일어를 못알아듣는다? 그건 여러분의 발음이...
    div#footer 양우석이 만듬
      img#face(src="/static/images/face.png")
  //- 카카오 애드
  ins(class="kakao_ad_area" style="display:none;" data-ad-unit="DAN-QOKeDQTRhxYo68tc" data-ad-width = "320" data-ad-height  = "100" )
  script(type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async)

