#body{
    background-color:rgb(241, 252, 242);
    word-break: keep-all;
}


#header{
    display: flex;
    justify-content: space-between;
}
h1{
    text-align: center;
}
#superTitle{
    margin-bottom: 150px;
}
h2{
    margin-top:25px;
    margin-bottom: 50px;
    text-align: center;
}
#Document{
    max-width: 900px;
    margin: 0 auto;
}
#backtohome{
    margin-top: 20px;
    margin-left:30px;
}
#web{
    outline-style: inset;
    outline-color: rgb(255, 234, 226);
}
.description{
    display: flex;
    justify-content:space-between;
    margin-bottom: 200px;
    align-items:center;
}
.description img {
    width:400px;
}
.description_script{
    width: 400px;
    align-items:center;
    vertical-align: middle;
}
#caution{
    margin-bottom: 100px;
}
#footer{
    position : fixed; bottom:0;
    align-items:center;
    margin: 0 auto;
    text-align:center;
    
}
a { text-decoration:none !important;
color:black;
height:48.8px } 
a:hover { text-decoration:none !important }

#Usage{
    margin-top:300px;
    display: flex;
    align-items:center;
    justify-content:right;
}
#footer img {
    width:20px;
    margin-left: 10px;
}
#Button{
    display: flex;
    justify-content:space-around;
}
#Button input {
    height:30px;
    font-size:20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
#Usage p{
    font-size:30px;
}
.Android_description {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom:200px;
    text-align:center;
}
.Android_description img{
    max-width: 300px;
    margin-bottom: 60px;
}
input {
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
    border: none;
}

input:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}
#AndWeb{
    outline-style: inset; outline-color: rgb(255, 234, 226);
}
@media screen and (max-width: 800px) { 
    .description{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        margin-bottom: 100px;
        align-items:center;
       
    }
    .description_script{
        margin-top:40px;
        width:300px;
    }
    h2{
        text-align:center;
    }
    .description img {
        width:300px;
    }
    #backtohome{
        margin-top: 10px;
        margin-left:10px;
    }
    #caution{
        margin-bottom: 100px;
        margin: 10px;
    }
    #Usage p{
        font-size:20px;
    }
 }

