#body{
    background-color:rgb(241, 252, 242);
}

#contents{
    text-align: center;
    
}
#available{  
    font-size:medium

}
#korean{
    margin-top:150px;
}
#german{
    margin-top:200px;
}
#script{
    align-items:center;
    margin: 0 auto;
    margin-top:20px;
    max-width:500px;
    background-color:rgb(252, 215, 255);
    border-radius: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}
#translated{
    margin: 0 auto;
    max-width:500px;
    background-color:rgb(254, 255, 214);
    border-radius: 10px;
    font-family: 'Noto Sans', sans-serif;
}
#footer{
    position : fixed; bottom:0;
    align-items:center;
    margin: 0 auto;
    text-align:center;
    width: 100%;
    
}
#footer img {
    width:20px;
    margin-left: 10px;
}
#leftheader img{
    padding:10px;
    width: 20px;
}
#rightheader{
    display: flex;
    align-items: center;
}
.kakao_ad_area{
    margin-top: 40px;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 850px) { 
    #available{
        margin-top: 30px;
    }
    #Howto{
        width:40px;
    }
    #leftheader{
        padding:5px;
    }
 }